<div class="jumbotron jumbotron-fo">
        <h1 class="display-3 text-white">Informasjon</h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li>Alle kampene spilles i
                            <a href="https://www.google.no/maps/place/Heggedal+Idrettshall/@59.7850419,10.4349537,17z/data=!3m1!4b1!4m5!3m4!1s0x46413e327a46ef59:0xce46f4d676cd7982!8m2!3d59.7850392!4d10.4371478?hl=no">
                                Heggedal Idrettshall</a>, Heggedalsbakken 13, 1389 Heggedal.</li>
                        <li>Gratisk parkering utenfor hallen.</li>
                        <li>Dagsbillett koster kr. 50,- for voksne og er gratis for barn under 16 år.</li>
                        <li>Kiosk i hallen. Det vil være mulig å betale med Vipps (Asker Innebandyklubb) eller kontanter i kiosken.</li>
                        <li>Det er fire garderober i hallen. Disse er tilgjengelig før og etter kamp.</li>
                        <li>Oppvarming må fortrinnsvis gjøres utendørs. Hvis ledig tid før kamp på banen så holder vi baller til oppvarmingen.</li>
                        <li>Påmelding gjøres ved å fylle ut <a href="http://registrering.faceoff.no">Påmeldingsskjemaet</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
