.day {
    width: 8em;
    white-space: nowrap;
}

.time {
    width: 5em;
    white-space: nowrap;
}

.group {
    width: 6em;
    white-space: nowrap;
}

.team {
    width: 10em;
    white-space: nowrap;
}