<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-aibk">
        <a class="navbar-brand" routerLink="/hjem">Face off</a>
        <button
            class="navbar-toggler"
            type="button"
            (click)="isNavbarCollapsed = !isNavbarCollapsed"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" routerLinkActive="active">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/informasjon">Informasjon</a>
                </li>
                <ng-container *ngIf="showTeams">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/lag">Lag</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/grupper">Grupper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/kamper">Kamper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/tabeller">Tabeller</a>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/reglement">Reglement</a>
                </li>
                <ng-container *ngIf="true">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/teams">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/matches">Matches</a>
                    </li>
                </ng-container>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item active" *ngIf="!name">
                    <a class="btn btn-outline-secondary my-2 my-sm-0" routerLink="/login">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <span class="navbar-text">
                {{ name }}
            </span>
            <div class="form-inline my-2 my-lg-0 ml-2" *ngIf="name">
                <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="logout()">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>
