<div class="jumbotron jumbotron-fo">
    <h1 class="display-3 text-white">Turnerings
        <wbr>reglement</h1>
    <p class="lead text-white">Turneringen spilles etter NBFs lover og regler.</p>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ol>
                    <li>Hvis to lag har samme hovedfarge på draktene, skal bortelaget skifte drakter.</li>

                    <li>Spilletid:</li>
                    <ul>
                        <li>
                            Puljekampene spilles med 2 omganger av 15 minutter med 5 minutter periodepause.
                        </li>
                        <li>Semifinalene spilles med 3 omganger av 15 minutter med 5 minutter periodepause (effektiv spilletid siste 3 minutter).
                        </li>
                        <li>
                            Ved uavgjort i semifinalene spilles det 10 minutter sudden og deretter eventuelt straffer (først 5 straffer og så en og en).
                        </li>
                    </ul>

                    <li>Det tillates å ta en time out i løpet av kampen, som i vanlige seriekamper.</li>

                    <li>Regler for rekkefølge hvis to eller flere lag har lik poengsum: </li>
                    <ol>
                        <li>Total målforskjell.</li>
                        <li>Flest scorede mål totalt.</li>
                        <li>Flest poeng i innbyrdes oppgjør.</li>
                        <li>Målforskjellen i innbyrdes oppgjør. </li>
                        <li>Loddtrekning.</li>
                    </ol>

                    <!--<li>Jury for løsing av protester eventuelt kampstraff er som følger:</li>
                    <ul>
                        <li>Kamp sekretariatet er ansvarlig for videreformidling av protester/sanksjoner til juryen.</li>
                        <li>Jury:</li>
                        <ul>
                            <li>Kim-Alexander H. Jørstad, juridisk rådgiver NBF mobil 417 91 137 </li>
                            <li>Terje Larsen, administrasjon NBF, mobil 906 52 833</li>
                        </ul>
                    </ul>

                    <li>Juryens avgjørelse er endelig og kan ikke ankes.</li>

                    <li>Ved protest skal dette påføres kampskjema ved signering etter kampslutt. En skriftlig og signert protest
                        skal være arrangementsansvarlig (les sekretariat) i hende innen 15 minutter etter den aktuelle kamps
                        slutt. Protestgebyr på kr. 600,- skal innbetales kontant ved avlevering av protest. Hvis ikke dette
                        skjer avvises protesten på formelt grunnlag.
                    </li>-->
                </ol>
            </div>
        </div>
    </div>
</div>
