<img src="assets/header.png" class="img-fluid" alt="Asker Innebandyklubb arrangerer Face Off Cup 15. og 16. september 2018" />

<div class="row">
    <div class="col-12">
        <p class="lead text-center">Asker Innebandy arrangerer</p>
        <p class="display-3 text-center text-aibk-red">Face&nbsp;Off Cup</p>
        <p class="display-4 text-center">15. og 16. september 2018</p>
        <p class="lead text-center">Årets sesong oppkjøring for G12/13 og G14/15.</p>


        <p class="lead text-center">8 lag per klass.</p>
        <p class="lead text-center">Minimum 3 kamper på 2 x 15 min.</p>
        <p class="lead text-center">Semifinaler og finaler på 3 x 15 min.</p>
    </div>
</div>
